.App{
  margin: 10px;
}

.searchHeaderDiv{
  border: 1px solid lightgray;
    padding: 10px;
    border-radius: 10px;
}

.searchHeaderDiv form {
  display: flex;
    flex-direction: column;
}

.searchHeaderDiv form label {
  margin-bottom: 5px;
}

.imageListDiv{
  margin: 10px;
  columns: 250px 5;
  column-gap: 10px;
}

.imageItemImg {
  width: 100%;
  margin-bottom: 10px;
}